.tooltipDiv {
    display: none;
    width: 250px;
    z-index: 101;
    background-color: #fff;
    border: 3px solid #666;
    padding: 12px 12px 12px 12px;
    border-radius: 0px 25px 0px 25px;
  }